#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("./img/RX\ cp2077\ FanArt.jpg");
  background-position: 50% 40%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
